# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Shortcuts and links
*.lnk

# Other sample and test files
test.py

# Directories and files
*.html
*.png

# Models
*.ckpt